.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--lightest-color);
	margin: 0 auto;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.icon-list {
	font-size: large;
	text-align: center;
	max-width: 100%;
}