:root {
	--list-text-color: #737373;
	--hover-color: #737373;
	--list-box-color: #f0c973;
	--light-grey-color: #ababab;
	--dark-grey-color: #383838;
}

body {
	color: var(--list-text-color);
	font-family: 'Lato', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid var(--list-box-color);
	margin: 0 auto;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.icon-list {
	font-size: large;
	text-align: center;
	max-width: 100%;
}

a {
	color: var(--list-box-color);
	text-decoration: none;
}

.social {
	margin-right: 10px;
}

.link-list-item {
	border: 1px solid var(--light-grey-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--list-text-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
}
  
.highlighted,
.link-list-item:hover,
a:hover {
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.yellow {
	background: var(--list-box-color);
}